body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

#minigame {
    position: relative;
    width: 100%;
    height: 80vh;
    border: 2px solid #181717;
    margin: 0 auto;
    background-color: #333;
}

h1 {
    text-align: center;
    color: #e6e6e6;
    margin-bottom: 10px;
}

.instrucciones {
    text-align: center;
    color: #e7e2e2;
    margin-bottom: 20px;
}

img {
    cursor: pointer;
    box-sizing: border-box;
}

.video-fondo {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 100;
}

.hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: space-around;
    z-index: 90;
    box-sizing: border-box;
    font-size: 1.2em;
    font-family: monospace;
}

.hidden {
    display: none !important;
}


input[type="text"] {
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #ffd700;
    text-shadow: 2px 2px 4px #000;
}

#minigame p {
    font-size: 1.5em;
    margin: 10px 0;
}